.no-padding {
    padding: 0 !important;
}

.center-div {
    position: absolute;
    width: 50%;
    top: 40%;
    left: 25%;
}

@media (max-width: 768px) {
    .center-div {
        width: 95%;
        left: 2.5%;
        top: 25%;
    }
}
